.socials__link-icon {
    width: 25px;
    height: 25px;
}

.hero {
    background: url('./assets/images/welcome_bg.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    &__links {
        display: flex;
        position: absolute;
        top: 2%;
        left: 3%;
    }
    &__bg-beige {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 600px;
        background-color: beige;
    }
    &__bg-darker {
        position: absolute;
        width: 50%;
        height: 600px;
        background-color: #efeee9;
    }
}

.socials__item {
    margin-right: 20px;
    fill: #fff;
    opacity: 0.6;
    transition: 0.1s;
    &:hover {
        opacity: 1;
    }
}

.user {
    font-family: "Roboto", sans-serif;
    &__name {
        font-size: 35px;
        font-weight: 600;
    }
    &__info {
        font-size: 16px;
        font-weight: 300;
    }
    &__description {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

    }
    &__pic {
        width: 141px;
        height: 141px;
        background-image: url('./assets/images/avatar.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        top: 32%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.hambg-menu {
    fill: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
    &:hover {
        fill: #ffa;
    }
}

.hero__down-btn {
    width: 26px;
    height: 20px;
    fill: #fff;
    opacity: 0.6;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
    &:hover {
        opacity: 1;
    }
}

.section-title__pic {
    fill: #fff;
    opacity: 0.08;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 278px;
}

.about {
    position: relative;
    width: 100%;
    display: flex;

    &__left {
        background-color: #efeee9;
        width: 50%;
        text-align: center;
        position: relative;
    }
    &__right {
        width: 50%;
        background-color: beige;
        position: relative;
    }
}

.about__left-content {
    width: 80%;
    margin: 0 auto;
}

.user-description {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__image {
        height: 391px;
        width: 100%;
    }
    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.block-title {
    font-size: 63px;
    font-family: 'BERNIER', sans-serif;
    margin: 15px 0;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-left: 5px;
        opacity: .6;
    }
    &::before {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-right: 5px;
        opacity: .6;
    }
}

/* .block-title__about {
    fill: #e6e5e1;
    position: absolute;
    left: 3%;
    top: 10%;
} */

.block-subtitle {
    text-transform: uppercase;
    font-family: 'BERNIER', sans-serif;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 35px;
        margin-left: 10px;
        opacity: .6;
    }

    &::before {
        content: "-";
        display: inline-block;
        font-size: 35px;
        margin-right: 10px;
        opacity: .6;
    }
}

.block-subtitle__me {
    font-size: 35px;
}

.about__right-title {
    text-align: center;
    font-size: 35px;
    font-family: 'BERNIER', sans-serif;
}

.text-content {
    margin: 25px 0;
}

.contacts__icon-pic {
    width: 19px;
    height: 100%;
    fill: #00bea4;
}

.menu__item {
    display: inline-block;
    margin: 20px 17px;  
}

.menu__link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.socials__item-round {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
}

.footer {
    background-color: #3d5556;
    opacity: 0.85;
    margin-top: -137px;
}

.footer__text {
    color: #fff;
    font-weight: 300;
    padding: 15px;
}

.footer__row {
    width: 100%;
    display: flex;
    @include tablets {
        flex-direction: column;
        text-align: center;
    }
    &:first-child {
        border-bottom: 2px solid rgba(255, 255, 255, 0.18);
    }
}

.footer__col {
    width: 50%;
    @include tablets {
        width: 100%;
    }
}

.menu__list {
    @include tablets {
        text-align: center;
    }
}

.footer__col_justify_end {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: end;
    padding: 15px;
}

.socials__list {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.socials__item-around {
    margin: 0 3px;
}

.socials__icon-footer {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    fill: #3d5556;
    height: 35px;
    width: 35px;
    transition: .3s ease;
    &:hover {
        fill: #fff;
        background-color: #3d5556;
        border: 1px solid #3d5556;
    }
}

.map {
    height: 670px;
    background-image: url('./assets/images/map-pseudo.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* .maincontent:after {
    content: "";
    height: 137px;
    width: 100%;
    display: block;
} */

.contacts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 290px;
    border-radius: 7px;
    background-color: #fcfcfc;
    opacity: 0.8;
    text-align: center;
    box-shadow: -3px -3px 20px lightblue;
    &__title {
        font-style: normal;
    }
    &__icon {
        margin: 0 15px;
        margin-left: 9%;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 40px;
    }
}

.block-subtitle__contacts {
    font-size: 35px;
}

.block-subtitle {
    margin: 20px 0;
}

.block-title_bg-about {
    opacity: .08;
    left: 17%;
    top: -3%;
    width: 70%;
    position: absolute;
}