.socials__link-icon {
    width: 25px;
    height: 25px;
    fill: #d3dad9;
    transition: .4s ease-out;
    &:hover {
        fill: #fff;
    }
}

.hero {
    background: url('./assets/images/welcome_bg.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    @include tablets {
        height: 505px;
    }
    @include phones {
        height: 555px;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    }
    &__links {
        display: flex;
    }
    &__bg-beige {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 600px;
        background-color: beige;
    }
    &__bg-darker {
        position: absolute;
        width: 50%;
        height: 600px;
        background-color: #efeee9;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.socials__item {
    margin-right: 20px;
    fill: #fff;
    opacity: 0.6;
    transition: 0.1s;
    z-index: 3;
    &:hover {
        opacity: 1;
    }
}

.user {
    font-family: "Roboto", sans-serif;
    &__name {
        font-size: 35px;
        font-weight: 600;
        @include phones {
            width: 280px;
        }
    }
    &__info {
        font-size: 16px;
        font-weight: 300;
    }
    &__description {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
    &__pic {
        width: 141px;
        height: 141px;
        background-image: url('./assets/images/avatar.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        top: 32%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.hambg-menu {
    fill: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
    &:hover {
        fill: #ffa;
    }
}

.hero__down-btn {
    width: 26px;
    height: 20px;
    fill: #fff;
    opacity: 0.6;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
    &:hover {
        opacity: 1;
    }
}

.section-title__pic {
    fill: #fff;
    opacity: 0.08;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 278px;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    &__left {
        background-color: #efeee9;
        width: 50%;
        text-align: center;
        position: relative;
        @include tablets {
            width: 100%;
        }
    }
    &__right {
        width: 50%;
        background-color: beige;
        position: relative;
        @include tablets {
            width: 100%;
        }
    }
    @include tablets {
        flex-direction: column;
    }
}


.about__right-description {
    margin: 40px 40px;
    @include tablets {
        width: 400px;
        margin: 25px auto;
    }
    @include phones {
        width: 90%;
    }
}

.about__left-content {
    width: 80%;
    margin: 0 auto;
    @include phones {
        width: 100%;
    }
}

.about__right-content {
    padding-left: 20px;
    @include tablets {
        text-align: center;
    }
}

.user-description {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__image {
        height: 391px;
        width: 100%;
    }
    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__text {
        width: 70%;
        text-align: left;
        margin: 20px auto 40px auto;
        @include tablets {
            margin: 25px auto;
            width: 400px;
            text-align: left;
        }
        @include phones {
            width: 90%;
        }
    }
}

.hero__bg-beige_about {
    @include tablets {
        background-color: #efeee9;
    }
}

.block-title {
    font-size: 63px;
    font-family: 'BERNIER', sans-serif;
    margin: 15px 0;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-left: 5px;
        opacity: .6;
    }
    &::before {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-right: 5px;
        opacity: .6;
    }
}

.block-title__about-block {
    font-size: 63px;
    font-family: 'BERNIER',
    sans-serif;
    margin: 15px 0;
    margin-bottom: 50px;
    @include phones {
        font-size: 50px;
        margin: 0;
    }
    &::after {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-left: 5px;
        opacity: .6;
    }

    &::before {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-right: 5px;
        opacity: .6;
    }
}

.block-subtitle {
    text-transform: uppercase;
    font-family: 'BERNIER', sans-serif;
    
}

.block-subtitle__me {
    font-size: 35px;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 35px;
        margin-left: 5px;
        opacity: .6;
    }

    &::before {
        content: "-";
        display: inline-block;
        font-size: 35px;
        margin-right: 5px;
        opacity: .6;
    }
}

.about__right-title {
    text-align: center;
    font-size: 35px;
    font-family: 'BERNIER', sans-serif;
    display: flex;
    width: 50%;
    margin: 0 auto;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-left: 5px;
        opacity: .6;
        @include phones {
            font-size: 51px;
            line-height: 1.6;

        }
    }
    &::before {
        content: "-";
        display: inline-block;
        font-size: 63px;
        margin-right: 5px;
        opacity: .6;
        @include phones {
            font-size: 51px;
            line-height: 1.6;

        }
    }
    @include phones {
        font-size: 30px;
        width: 83%;
        margin: 0 auto;
        display: flex;

    }
}

.block-subtitle__about {
    width: 100%;
    margin: 0 auto;
    
}

.text-content {
    margin: 25px 0;
}

.contacts__icon-pic {
    width: 19px;
    height: 100%;
    fill: #00bea4;
}

.menu__item {
    display: inline-block;
    margin: 17px 17px;  
    @include phones {
        margin: 11px 8px;
        font-size: 13px;
    }
}

.menu__link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.menu__list {
    @include tablets {
        text-align: center;
    }
}

.map {
    height: 973px;
    background-image: url('./assets/images/map-pseudo.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}



.contacts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 290px;
    border-radius: 7px;
    background-color: #fcfcfc;
    opacity: 0.8;
    text-align: center;
    box-shadow: -3px -3px 20px lightblue;
    &__title {
        font-style: normal;
    }
    &__icon {
        margin: 0 15px;
        margin-left: 9%;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 40px;
        @include phones {
            font-size: 13px;
        }
    }
    @include phones {
        width: 100%;
        top: 21%;
        box-shadow: 0 0 0;
    }
}

.block-subtitle__contacts {
    font-size: 35px;
}

.block-subtitle {
    margin: 20px 0;
}

.block-title_bg-about {
    opacity: .08;
    left: 17%;
    top: -3%;
    width: 70%;
    position: absolute;
    @include tablets {
        width: 39%;
        left: 32%;
    }
}