
.user__blog {
    font-family: "BERNIER", sans-serif;
    font-size: 63px;
    font-weight: 400;
    margin: 0 auto;
}

.hero-blog {
    margin-bottom: 60px;
    background: url('./assets/images/welcome_bg.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    @include tablets {
        height: 505px;
    }
    @include phones {
        height: 555px;
        margin-bottom: 30px;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    }
}

.blog {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    &__sidebar {
        width: 30%;
        padding-top: 10px;
        @include tablets {
            display: none;
        }
    }
    &__container {
        width: 60%;
        @include tablets {
            width: 100%;
            padding: 0 15px;
        }
    }
}

.blog__list {
    text-align: right;
}

.blog__desc {
    top: 65%;
}

.blog__item {
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    padding: 6px 19px;
    transition: .3s ease;
    &--active {
        border-right: 3px solid #00bfa5;
        color: #00bfa5;
    }
    &:hover {
        border-right: 3px solid #00bfa5;
        color: #00bfa5;
    }
}

.blog__text {
    padding: 70px 0;
    &:first-child {
        padding-top: 0px;
    }
    border-bottom: 2px solid gray;
    width: 90%;
    &:last-child {
        border: none;
    }
    &-title {
        font-family: "BERNIER", sans-serif;
        font-size: 35px;
        @include phones {
            font-size: 21px;
        }
    }
    &-date {
        font-size: 16px;
        color: #00bfa5;
        margin: 20px 0;
    }
    &-contain {
        font-size: 16px;
        margin-bottom: 20px;
    }
}


.desc-blog {
    top: 64%;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-family: monospace;
    margin-bottom: 20px;
    &-row {
        background-color: #f5f2f0;
    }
}

.table-1cell-width {
    width: 15px;
    height: 23px;
    background-color: #e7e5e3;
    text-align: right;
    padding-right: 10px;
}

.table-2cell-width {
    width: 200px;
}

b {
    color: black;
    font-weight: 600;
}

i {
    color: #84ac32;
    font-style: normal;
}

.arrow-none {
    display: none;
}


.sidebar-mobile {
    width: 0%;
    background-color: darkcyan;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
    transition: .4s ease-in-out;
    &--active {
        width: 30%;
        @include phones {
            width: 61%;
        }
        @include iphone6 {
            width: 55%;
        }
    }
}

.circle-nav {
    display: block;
    width: 0px;
    height: 50px;
    background-color: darkcyan;
    border-radius: 50%;
    top: 50%;
    left: -4%;
    @include phones {
        left: -11%;
    }
    @include iphone6 {
        left: -10%;
    }
    transform: translateY(-50%);
    position: fixed;
    transition: .4s ease-in-out;
    &--active {
        left: 26%;
        @include phones {
            left: 51%;
        }
        @include iphone6 {
            left: 45%;
        }
    }
}

.blog__item-sidebar--active {
    text-decoration: underline;
}

.blog__link-mobile {
    color: #fff;
}

.blog__list-mobile {
    position: relative;
    left: 0;
    top: 50%;
    text-align: left;
    transform: translateY(-50%);
    width: 225px;
    z-index: 10;
}

