h1 {
    background-color: transparent;
}

.hero-works {
    background: url('./assets/images/welcome_bg.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    @include phones {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
        height: 560px;
    }
}

.hero__links {
    display: flex;
    position: absolute;
    top: 2%;
    left: 3%;
}

.hero__bg-full {
    width: 100%;
    left: 0;
    background-color: #faf8f0;
}

.works__block-title {
    height: 185px;
    background-color: #faf8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phones {
        height: 95px;
    }
}

.block-title_works {
    font-size: 63px;
    font-family: 'BERNIER', sans-serif;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 36px;
        margin-left: 5px;
        opacity: .6;
    }
    &::before {
        content: "-";
        display: inline-block;
        font-size: 36px;
        margin-right: 5px;
        opacity: .6;
    }
    margin: 0;
    color: #373e42;
    @include phones {
        font-size: 35px;
        height: 41px;
    }
}

.about-me__title {
    margin: 0 auto;
    width: 40%;
    height: 185px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    &::after {
        content: "-";
        display: inline-block;
        font-size: 84px;
        margin-left: 5px;
        opacity: .6;
        height: 100%;
        @include tablets {
            height: 71%;
            line-height: 1;
        }
        @include phones {
            height: 88%;
            font-size: 60px;
            line-height: 0.4;
        }
    }
    &::before {
        content: "-";
        display: inline-block;
        font-size: 84px;
        margin-right: 5px;
        opacity: .6;
        height: 100%;
        @include tablets {
            height: 71%;
            line-height: 1;
        }
        @include phones {
            height: 88%;
            font-size: 60px;
            line-height: 0.4;
        }
    }
    @include tablets {
        width: 75%;
    }
    @include phones {
        height: 100px;
    }
}

.about-me__title-inner {
    font-family: "BERNIER", sans-serif;
    font-size: 63px;
    width: 60%;
    margin: 15px 0;
    line-height: 1;
    text-align: center;
    @include tablets {
        width: 100%;
    }
    @include phones {
        width: 100%;
        font-size: 35px;
    }
}



.about-me {
    background-image: url('./assets/images/works-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me__feedback {
    height: 955px;
    width: 100%;
    /* background-image: url('./assets/images/works-bg.png');
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    @include tablets {
        height: 900px;
    }
}

.comments {
    display: flex;
    align-items: center;
    justify-content: center;
    @include phones {
        flex-direction: column;
    }
}

.comments__block-person {
    display: flex;
    align-items: center;
    color: #20b5a1;
    &_img {
        margin-right: 15px;
        @include phones {
            width: 40px;
        }
    }
    &_name {
        font-weight: 700;
    }
    &_position {
        font-weight: 400;
    }
    @include phones {
        font-size: 14px;
    }
}

.comments__block {
    width: 28%;
    margin: 20px;
    &-text {
        margin-bottom: 15px;
        @include tablets {
            font-size: 16px;
        }
        @include phones {
            font-size: 14px;
        }
    }
    @include tablets {
        width: 50%;
    }
    @include phones {
        width: 90%;
        margin: 0;
    }
}

.comments__block-quote {
    font-size: 36px;
    font-family: "Awesome", sans-serif;
    width: 100px;
    height: 85px;
    @include phones {
        margin: 0 auto;
    }
    &_inner {
        font-size: 117px;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
}

.form {
    position: relative;
    width: 380px;
    height: 437px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include phones {
        width: 300px;
        height: 417px;
    }
}

.subtitle-form {
    font-size: 35px;
    margin: 0;
    color: #455a64;
    padding-top: 30px;
    z-index: 10;
    @include phones {
        font-size: 32px;
    }
}

.form__inputs {
    display: flex;
    flex-direction: column;
    width: 85%;
    z-index: 10;
}

.form__input {
    border-radius: 6px;
    padding: 5px 10px;
    margin: 8px 0;
    z-index: 10;
}

.form__textarea {
    resize: none;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 10;
}

.form__buttons {
    width: 100%;
    z-index: 10;
}

.form__btn {
    z-index: 10;
    padding: 10px 30px;
    width: 50%;
    color: #fff;
    font-weight: 500;
    opacity: 0.8;
    background-color: #31b4b254;
    transition: .3s ease;
    &:hover {
        background-color: #33d6c39a;
    }
    &:first-child {
        border-right: 2px solid #82b7b9;
        border-radius: 0 0 0 6px;
    }
    &:last-child {
        border-radius: 0 0 6px 0;
    }
}

.form__blur {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(2px);
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #fff;
    opacity: 0.3;
    z-index: 0;
}

.block-title_bg {
    position: absolute;
    opacity: .08;
    width: 100%;
    @include phones {
        width: 75%;
    }
}

.under-form__arrow {
    fill: #fff;
    opacity: 0.67;
    width: 28px;
    height: 28px;
    margin-bottom: 70px;
    margin-top: 70px;
}