h1 {
    background-color: transparent;
}

.hero-works {
    background: url('./assets/images/welcome_bg.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    &__links {
        display: flex;
        position: absolute;
        top: 2%;
        left: 3%;
    }
}

.hero__bg-full {
    width: 100%;
    left: 0;
    background-color: #faf8f0;
}

.works__block-title {
    height: 185px;
    background-color: #faf8f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-title_works {
    margin: 0;
    color: #373e42;
}

.my-works {
    width: 100%;
    height: 700px;
    display: flex;
    &__left {
        background-color: #f0efe9;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__right {
        width: 50%;
        background-color: #efebe0;
    }
}

.works__site-desc {
    padding: 10px;
    text-transform: uppercase;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
}
.works__site-name {
    margin: 0;
    font-size: 35px;
    margin-bottom: 20px;
}

.works__site-link {
    color: #fff;
    background-color: darkgray;
    padding: 10px 15px;
    border-radius: 6px;
    &_pic {
        fill: #fff;
        width: 18px;
        float: left;
        height: 20px;
        margin-right: 5px;
    }
}

.widget {
    width: 100%;
    height: 100%;
    &__main-preview {
        height: 70%;
        width: 100%;
        background-color: pink;
    }
    &__btns-preview {
        height: 30%;
        width: 100%;
        background-color: aqua;
        display: flex;
    }
}

.widget__btn-down {
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    &_pic {
        fill: #fff;
        width: 50px;
        height: 50px;
    }
}

.widget__btn-up {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_pic {
        fill: #fff;
        width: 50px;
        height: 50px;
    }
}

.about-me__title {
    margin: 0;
    height: 185px;
    background-color: #faf8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner {
        
    }
}