extends ../auth.layout.pug

block content
    section.hero-welcome
        .hero__bg-block_auth
            .block-subtitle.title-auth Авторизуйтесь
            .form__auth
                label.form__auth-login
                    .form__auth-input_pic
                        +icon('login', 'form__auth-icon')
                    input.form__auth-input(type="text", placeholder='Логин') 
                label.form__auth-pass
                    .form__auth-input_pic
                        +icon('password', 'form__auth-icon')
                    input.form__auth-input(type="password", placeholder='Пароль')
                label.form__auth-check
                    input.form__auth-checkbox(type="checkbox", name="human")
                    .form__auth-checkbox--style
                    span.form__auth-checkbox_text Я человек
                .form__auth-radio
                    .auth-radio__question Вы точно не робот?
                    .auth-radio-btns
                        label.auth-radio__btn
                            input(type="radio", name="radio_btn").auth-radio__input
                            .auth-radio__input--style
                            p Да
                        label.auth-radio__btn
                            input(type="radio", name="radio_btn").auth-radio__input
                            .auth-radio__input--style 
                            p Не уверен
            .link__buttons
                a(href="index.html").link__button На главную
                a(href="#").link__button Войти
        
        .copyright-welcome
            small © Роман Казаков | создано с любовью в LoftSchool | 2018
