extends ../auth.layout.pug

block content
  .preloader#preloader
    .preloader__spinner
      .preloader__animation
      .preloader__percent#preloader__percent 0%
  section.hero.hero-welcome
    .parallax
      .parallax__layer
        img(src="assets/images/parallax/Layer_0.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_1.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_2.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_3.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_4.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_5.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_6.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_7.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_8.png").parallax__image
      .parallax__layer
        img(src="assets/images/parallax/Layer_9.png").parallax__image
    button.auth__btn Авторизоваться
    .flip-card  
      .hero__bg-block
        .user__pic_welcome
        .user__description-welcome
            .user__name.user__welcome Роман Казаков
            .user__info-welcome Личный сайт разработчика
        -
          var socials = [
            ['vk', 'http://vk.com'],
            ['github', 'http://github.com'],
            ['in', 'http://in.com']
          ]
        ul.social__link-welcome
          each item in socials
            li.socials__item.socials__item-welcome
              a(href=`${item[1]}`).socials__link
                +icon(item[0], 'socials__icon-welcome')
        .link__buttons
          a(href="works.html").link__button Мои работы
          a(href="about.html").link__button Обо мне
          a(href="blog.html").link__button Блог
      
      .hero__bg-block_auth
        .block-subtitle.title-auth Авторизуйтесь
        .form__auth
          label.form__auth-login
            .form__auth-input_pic
              +icon('login', 'form__auth-icon')
            input.form__auth-input(type="text", placeholder='Логин') 
          label.form__auth-pass
            .form__auth-input_pic
              +icon('password', 'form__auth-icon')
            input.form__auth-input(type="password", placeholder='Пароль')
          label.form__auth-check
            input.form__auth-checkbox(type="checkbox", name="human")
            .form__auth-checkbox--style
            span.form__auth-checkbox_text Я человек
          .form__auth-radio
            .auth-radio__question Вы точно не робот?
            .auth-radio-btns
              label.auth-radio__btn
                input(type="radio", name="radio_btn").auth-radio__input
                .auth-radio__input--style
                p Да
              label.auth-radio__btn
                input(type="radio", name="radio_btn").auth-radio__input
                .auth-radio__input--style 
                p Не уверен
        .link__buttons
          a(href="").link__button.link__button-back На главную
          a(href="#").link__button Войти
        
        
      .copyright-welcome
        //-small © Роман Казаков | создано с любовью в LoftSchool | 2018
