extends ../auth.layout.pug

block content
  section.hero.hero-welcome
      -
        var socials = [
          ['vk', 'http://vk.com'],
          ['github', 'http://github.com'],
          ['in', 'http://in.com']
        ]

      ul.socials.hero__links.social__link-welcome
        each item in socials
          li.socials__item
            a(href=`${item[1]}`).socials__link
              +icon(item[0], 'socials__link-icon')

      .hero__user.user
        .user__pic
        .user__description
          block desc-change
            .user__name Роман Казаков
            .user__info Личный сайт разработчика
