extends ../main.layout.pug

block content
    .paralax
        .paralax__layer
            img(src="./assets/images/parallax/layer-1.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-2.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-3.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-4.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-5.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-6.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-7.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-8.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-9.png", alt="").parallax__image
        .paralax__layer
            img(src="./assets/images/parallax/layer-10.png", alt="").parallax__image
        