
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | parallax
    link(rel="stylesheet", href="main.min.css")
    link(rel='shortcut icon' href='https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_23-512.png')
  body

    .parallax
        .parallax__layer
            img(src="./assets/images/parallax/layer-1.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-2.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-3.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-4.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-5.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-6.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-7.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-8.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-9.png", alt="").parallax__image
        .parallax__layer
            img(src="./assets/images/parallax/layer-10.png", alt="").parallax__image
        .parallax__container