script(type="text/x-template")#slider
    .slider
        info
        display
        buttons

script(type="text/x-template")#slider-info
    .slider__info-container
        .slider__info
            .slider__info-title
                .block-subtitle Сайт магазина бургеров
            .slider__info-skills Html, CSS, JavaScript
            .slider__info-button
                a(href="").button Посмотреть сайт

script(type="text/x-template")#slider-display
    .slider__display
        img(src="/assets/images/slider/work-1.png", alt="").slider__big-pic

script(type="text/x-template")#slider-buttons
    .slider__buttons
        .slider__button
            .slider__button-img-wrap
                img(src="/assets/images/slider/work-2.png", alt="").slider__button-pic
        .slider__button.slider__button--next
            .slider__button-img-wrap
                img(src="/assets/images/slider/work-4.png", alt="").slider__button-pic

