include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")

    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
    link(rel='shortcut icon' href='https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_23-512.png')
  body
    .wrapper
      .maincontent
        block content
        
    include common/footer.pug
    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts
