.flip-card {
    height: 395px;
    width: 380px;
    perspective: 1000px;
    position: relative;
    @include iphone6 {
        width: 310px;
    }
    @include phones {
        width: 300px;
    }
    
}

.hero__bg-block {
    background-color: #fcfcfcd1;
    backface-visibility: hidden;
    transition: 1s;
    position: absolute;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height: 395px;
    width: 380px; */
    width: 100%;
    height: 100%;
    border-radius: 8px;
    @include phones {}
}

.hero__bg-block_auth {
    background-color: #fcfcfcd1;
    backface-visibility: hidden;
    transition: 1s;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
    @include phones {}
}

.user__description-welcome {
    color: #455a64;
}

.user__pic_welcome {
    background-image: url(assets/images/avatar.jpg);
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    height: 141px;
    width: 141px;
}

.link__buttons {
    display: flex;
    background-color: #00bfa5;
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 50px;
    align-self: flex-end;
}

.link__button {
    padding-top: 10px;
    color: #fff;
    font-weight: 500;
    border-right: 1px solid;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    transition: .3s;
    &:last-child {
        border: none;
        &:hover {
            background-color: #036d5f;
            border-radius: 0 0 8px 0px;
        }
    }
    &:hover {
        background-color: #036d5f;
    }
    &:first-child {
        border-right: 1px solid #fff;
        &:hover {
            background-color: #036d5f;
            border-radius: 0 0 0px 8px;
        }
    }
    @include phones {}
}

.title-auth {
    font-size: 36px;
}

.form__auth {
    display: flex;
    flex-direction: column;
    &-input {
        margin: 12px 0;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #c4cbcd69;
        height: 100%;
    }
    &-check {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}

.form__auth-login,
.form__auth-pass {
    display: flex;
    height: 40px;
    align-items: center;
    margin: 10px 0;
}

.form__auth-icon {
    width: 18px;
    height: 18px;
    fill: #c4cbcd;
}

.form__auth-input_pic {
    background-color: #f0efe9;
    position: relative;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.form__auth-checkbox {
    display: none;
    &--style {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border: 1px solid gray;
        border-radius: 3px;
        &::before {
            background: url(assets/images/checkmark.svg) 50% no-repeat;
            transform: scale(0);
            transition: .3s ease;
            background-size: cover;
            content: "";
            display: inline-block;
            height: 18px;
            left: 2px;
            position: absolute;
            top: 2px;
            width: 18px;
        }
    }
}

.form__auth-checkbox_text {
    margin-left: 10px;
}

.form__auth-checkbox:checked+.form__auth-checkbox--style::before {
    transform: scale(1);
}

.auth-radio-btns {
    display: flex;
    justify-content: space-between;
}

.auth-radio__question {
    margin: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.auth-radio__btn {
    display: flex;
}

.auth-radio__input {
    display: none;
    &--style {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid gray;
        border-radius: 50%;
        margin-right: 9px;
        &::before {
            background-color: grey;
            border-radius: 50%;
            content: "";
            height: 8px;
            left: 5px;
            position: absolute;
            top: 5px;
            width: 8px;
            transform: scale(0);
            transition: .3s ease-out;
        }
    }
}

.auth-radio__input:checked+.auth-radio__input--style::before {
    transform: scale(1);
}
