.form {
    position: relative;
    width: 380px;
    height: 437px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    @include phones {
        width: 300px;
        height: 417px;
    }
}

.subtitle-form {
    font-size: 35px;
    margin: 0;
    color: #455a64;
    padding-top: 30px;
    z-index: 10;
    @include phones {
        font-size: 32px;
    }
}

.form__inputs {
    display: flex;
    flex-direction: column;
    width: 85%;
    z-index: 10;
}

.form__input {
    border-radius: 6px;
    padding: 5px 10px;
    margin: 8px 0;
    z-index: 10;
}

.form__textarea {
    resize: none;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 10;
}

.form__buttons {
    width: 100%;
    z-index: 10;
}

.form__btn {
    z-index: 10;
    padding: 10px 30px;
    width: 50%;
    color: #fff;
    font-weight: 500;
    opacity: 0.8;
    background-color: #31b4b254;
    transition: .3s ease;
    &:hover {
        background-color: #33d6c39a;
    }
    &:first-child {
        border-right: 2px solid #82b7b9;
        border-radius: 0 0 0 6px;
    }
    &:last-child {
        border-radius: 0 0 6px 0;
    }
}

.form__blur {
    background: url('./assets/images/works-bg.png');
    filter: blur(20px);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

input:required:valid {
    border-color: rgb(2, 148, 2);
    color: black;
}

.invalid {
    border-color: red;
    color: red;
}

.error-msg {
    display: none;
    padding-bottom: 10px;
    color: crimson;
    animation: error 1s;
    font-weight: 600;
    &--active {
        display: block;
    }
}

@keyframes error {
    0% {
        transform: translate(-5px)
    }
    25% {
        transform: translate(5px)
    }
    50% {
        transform: translate(-5px)
    }
    75% {
        transform: translate(5px)
    }
    100% {
        transform: translate(0)
    }
}