.hero__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    height: 600px;
    z-index: 0;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0, 191, 165, .9);
        width: 50%;
        transform: translateX(-100%);
        transition: .4s;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: rgba(0, 191, 165, .9);
        width: 50%;
        transform: translateX(100%);
        transition: .4s;
    }
    &--active {
        z-index: 5;
        &::before,
        &::after {
            transform: translateX(0);
        }
        .hero__list {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.hero__list {
    list-style: none;
    padding: 0;
    z-index: 10;
    transition: all .2s ease .05s;
    transform: translateY(20px);
    opacity: 0;
    text-align: center;
}

.hero__link {
    color: #fff;
    font-family: 'BERNIER', sans-serif;
    font-size: 35px;
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
        &::before {
            display: inline-block;
            content: '-';
            font-size: 35px;
            opacity: .6;
            margin-right: 15px;
        }
        &::after {
            display: inline-block;
            content: '-';
            font-size: 35px;
            opacity: .6;
            margin-left: 15px;
        }
    }
    /* @include phones-big {
        font-size: 42px;
        &::before {
            display: inline-block;
            content: '-';
            font-size: 35px;
            opacity: .3;
            margin-right: 15px;
        }
        &::after {
            display: inline-block;
            content: '-';
            font-size: 35px;
            opacity: .3;
            margin-left: 15px;
        }
    } */
}

.hamburger {
    z-index: 10;
}

// menu humburger
// base
$hamburger-layer-color: #fff !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-types: (spring) !default;
.hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: $hamburger-hover-transition-duration;
    transition-timing-function: $hamburger-hover-transition-timing-function;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    &:hover {
        @if $hamburger-hover-use-filter==true {
            filter: $hamburger-hover-filter;
        }
        @else {
            opacity: $hamburger-hover-opacity;
        }
    }
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -3px;
    &,
    &::before,
    &::after {
        width: 30px;
        height: 4px;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
    &::before,
    &::after {
        content: "";
        display: block;
    }
    &::before {
        top: 0px;
    }
    &::after {
        bottom: 0px;
    }
}

@if index($hamburger-types, spring) {
    .hamburger--spring {
        .hamburger-inner {
            top: 2px;
            transition: background-color 0s 0.13s linear;
            &::before {
                top: -10px;
                transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            &::after {
                bottom: -10px;
                transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
        &.is-active {
            .hamburger-inner {
                transition-delay: 0.22s;
                background-color: transparent;
                &::before {
                    top: 0;
                    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transform: translate3d(0, 10px, 0) rotate(45deg);
                }
                &::after {
                    top: 0;
                    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transform: translate3d(0, 10px, 0) rotate(-45deg);
                }
            }
        }
    }
}