.hero-overall {
    position: relative;
}

.hero__bg {
    position: relative;
    max-height: 650px;
}

.hero__bg-img {
    max-width: 180%;
    min-width: 100%;
    position: relative;
    height: 800px;
}